.masonry-grid {
  display: flex;
  margin-left: -8px; /* ギャップの調整 */
  width: auto;
}

.masonry-grid_column {
  padding-left: 8px; /* ギャップ */
  background-clip: padding-box;
}

.masonry-grid_column > div {
  margin-bottom: 8px;
}
