.masonry-grid {
  display: flex;
  margin-left: -16px; /* ギャップの調整 */
  width: auto;
}

.masonry-grid_column {
  padding-left: 16px; /* ギャップ */
  background-clip: padding-box;
}

.masonry-grid_column > div {
  margin-bottom: 16px;
}
